body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1em;
    padding: 0;
    margin: 0;
    background-color: rgb(230, 230, 230);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body > header {
    background-color: brown;
    grid-area: 1/1/2/4;
    display: inherit;
    grid-template-columns: 1fr 2fr 1fr;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#sbox  {
    flex-grow: 1;
    width: 99%;
    height: 2em;
    border: none;
}

#sbox > input {
    width: calc(100% - 2em);
    height: 100%;
    font-size: large;
    padding-left: 2em;
}
.index-count {
    font-size: small;
    margin: 0 5em;
    margin-bottom: 1em;
}

body > header > div {
    color: white;
}

body > header > div > a {
    color: white;
    text-decoration: none;
}
body > header > div > a > h1{
    color: white;
    font-weight: 400;
    margin: 0 2em;
}
#sbox {
    display: inherit;
    grid-area: 1/2/2/3;
}

#wrap {
    grid-area: 2/2/3/3;
}

#info {
    padding: 0.5em;
    margin-bottom: 1em;
    color: #856404;
    padding-left: 1.5em;
    font-weight: 600;
    background-color: #fff3cd;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.rel-papers {
    display: grid;
    grid-template-rows: auto;
    row-gap: 1em;
}

.rel-paper {
    padding: 1.5em;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.rel-title {
    font-size: large;
    font-weight: 600;
    letter-spacing: 0.04em;
}

.rel-authors {
    font-size: small;
}
.dllinks {
    display: grid;
    column-width: 1em;
    grid-template-columns: 2fr 2fr 2fr 71%;
    font-size: small;
    padding-bottom: 1em;
}